<?xml version="1.0" encoding="UTF-8"?>
        <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.practice.open_account.dao.AccountDisplayDAO">
	<!-- getCustomerId -->
	<select id="getCustomerIdByUserId" resultType="java.lang.String">
		select customer_id from customer_account
		where user_id =#{user_id} 
	</select>
	
	<!-- getFundAccount -->
	<select id="getFundAccountByCustomerId" resultType="com.alibaba.fastjson.JSONObject"
	>
		select * from fund_account
		where customer_id = #{customer_id} 
	</select>
	
	<!-- getCurrency -->
	<select id="getCurrencyByFundId" resultType="com.alibaba.fastjson.JSONObject">
		select currency_type,balance from currency
		where fund_id = #{fund_id}
	</select>
</mapper>