<?xml version="1.0" encoding="UTF-8"?>
        <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.practice.open_account.dao.AdminDAO">
	<select id="getSecurityIdBySuperAdmin" resultType="com.alibaba.fastjson.JSONObject">
		select * from security
	</select>
	<select id="getSecurityIdByAdminId" resultType="java.lang.Integer">
		select security_id from admin_manager
		where admin_id = #{admin_id}
	</select>
	<insert id="addAdminEmployee" 
	useGeneratedKeys="true" keyProperty="employee_id">
		insert into employee 
		(
		employee_name,
		employee_account,
		employee_password,
		employee_type
		)
		values(
		#{employee_name},
		#{employee_account},
		#{employee_password},
		#{employee_type}
		)
	</insert>
	<insert id="addAdminManage">
		insert into admin_manager
		(security_id,admin_id)
		values(
		#{security_id},
		#{employee_id}
		)
	</insert>
	<update id="updateAdmin">
		update employee set
		employee_name=#{employee_name},
		employee_account=#{employee_account},
		employee_password=#{employee_password}
		where employee_id =#{employee_id}
	</update>
	
	<insert id="addSecurity">
		insert into security(
			name,province,city,contact_phone
			)
			values(
			#{name},
			#{province},
			#{city},
			#{contact_phone}
			)
	</insert>
	<select id="getServeralUserBySecurityId" resultType="com.practice.open_account.entity.AccountInfo"
	>
		select user_id,name,id_number,contact_address_id
		from account_info
		where security_id = #{security_id}
	</select>
	<select id="getOpenDate" resultType="java.lang.String">
		select open_date from customer_account
		where user_id = #{user_id}
	</select>
	<select id="getPhoneByUserId" resultType="java.lang.String"
	>
		select phone from user where user_id = #{user_id}
	</select>
	<select id="getAllOpenDate" resultType="HashMap">
		select user_id,open_date from customer_account;
	</select>
	<select id="getMaxEmployeeId" resultType="Integer">
		select max(employee_id) from employee
	</select>
</mapper>