<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper  namespace="com.practice.open_account.dao.AuditorDAO">


    <select id="getUserIdByTime" resultType="java.util.HashMap">
		select user_id  from
		customer_account ca
		WHERE ca.auditor_id = #{auditor_id}
		AND  ca.open_date
		BETWEEN #{start}  AND #{end};
	</select>

    <select id="getUserInfo" resultType="com.alibaba.fastjson.JSONObject">
		select
		ai.name userName,
		ai.id_number idCardNum,
		ai.id_issuance_date idValDate,
		ai.id_licensing_authority idInstitute,
		ai.profession userJob,
		ai.education education,
		ai.email email,
		ai.deposit_bank bankName,
		ai.deposit_account bankCardNum,
		u.status reviewStatus
		from
		account_info ai,user u
		WHERE  ai.user_id = #{user_id}
		AND  ai.user_id = u.user_id
	</select>
    <select id="getOneUserToReview" resultType="java.lang.String">
SET AUTOCOMMIT = 0;
BEGIN
	WORK;
SELECT DISTINCT @a:=
u.user_id AS id
FROM
account_info ai,
user u
WHERE
ai.security_id = #{security_id}
AND u.STATUS = 4
LIMIT 1 FOR UPDATE;
UPDATE user u
SET  u.status=5
#SELECT * FROM user u
WHERE u.user_id=@a;
SELECT @a;
COMMIT WORK;

</select>
<select id="getSecutityIdbyAuditorId" resultType="java.lang.String">
	select am.security_id security_id
	FROM auditor_manager am
	WHERE am.auditor_id=#{auditor_id}
</select>
<select id="getAllUserByAuditorId" resultType="java.util.HashMap">
	select distinct u.user_id
	from review r,user u,account_info ai
	WHERE (r.user_id=u.user_id
	AND r.auditor_id = #{auditor_id}
	AND (u.status=7
	OR u.status=6)
	AND  r.update_time
	BETWEEN #{start}AND #{end})
	OR( ai.security_id=#{security_id}
    AND  ai.allocated_time
    BETWEEN #{start}AND #{end}
    And u.user_id=ai.user_id
    and u.status=4)
    OR(
    u.status=5
	AND ai.security_id=#{security_id}
	  And u.user_id=ai.user_id
    )
</select>

    <select id="getReviewDate" resultType="java.lang.String">
        SELECT
        r.update_time update_time
        FROM
       review  r
        WHERE r.user_id= #{user_id}
        limit 1
    </select>

    <select id="getOtherInfo" resultType="com.alibaba.fastjson.JSONObject">
		select
		ai.id_picture imageUrl_1,
		ai.id_card_inverse_side imageUrl_2,
		ai.id_card_inverse_side imageUrl_2,
		ai.heashot imageUrl_3,
		ai.risk_assessment_mark userGrade
		from
		account_info ai
		WHERE ai.user_id = #{user_id}
	</select>
<!--select id="getWaitForReview" resultType="java.util.HashMap">
	SELECT DISTINCT
	u.user_id AS id
	FROM account_info ai,user u
	WHERE ai.security_id = #{security_id}
	AND u.user_i=ai.user_id
	AND u.STATUS = 4
</select-->


    <insert id="insertEmployee"
    	useGeneratedKeys="true" keyProperty="employee_id">
    	insert into employee
    	(employee_account, 
    	employee_password,
    	Employee_type,
    	employee_name)
    	values
    	(
    		#{employee_account},
    		#{employee_password},
    		#{employee_type},
    		#{employee_name}
    	)
    </insert>
    
    <insert id="insertAuditor">
    	insert into auditor_manager
    	(security_id,auditor_id)
    	values(
    	 #{security_id},
    	 #{auditor_id}
    	)
    </insert>
    
   <update id="updateEmployee">
    	update employee 
    	set
    	employee_account=#{employee_account},
    	employee_password=#{employee_password},
    	Employee_type=#{employee_type},
    	employee_name=#{employee_name}
    	where employee_id=#{employee_id}
    </update>
    
    <update id="updateAuditor">
    	update auditor_manager
    	set
    	security_id=#{security_id}
    	where auditor_id=#{auditor_id}
    </update>

</mapper>