<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shixun.open_account.dao.AuditorDAO">
    <select id="gettoReviewNum" resultType="java.lang.Integer">
        SELECT
        count(*)
        FROM
       user u
        WHERE u.status = 5
    </select>
    <select id="getreviewedNum" resultType="java.lang.Integer">
        SELECT
        count(*)
        FROM
       customer_account ca
        WHERE ca.auditor_id = #{auditor_id}
    </select>
    <select id="getSecutityIdbyAuditorId" resultType="java.lang.String">
        SELECT
        aum.security_id security_id
        FROM
       auditor_manager aum
        WHERE aum.auditor_id = #{auditor_id}
    </select>
    <select id="getSecurity" resultType="com.alibaba.fastjson.JSONObject">
        SELECT
            s.name     name,
            s.type     type
        FROM
            security s
        WHERE s.security_id = #{security_id}
    </select>
    <select id="getUserIdByTime" resultType="java.util.HashMap">
		select user_id  from
		customer_account ca
		WHERE ca.auditor_id = #{auditor_id}
		AND  ca.open_date
		BETWEEN #{start}  AND #{end};
	</select>

    <select id="getUserInfo" resultType="com.alibaba.fastjson.JSONObject">
		select
		ai.name userName,
		ai.id_number idCardNum,
		ai.id_issuance_date idValDate,
		ai.id_licensing_authority idInstitute,
		ai.profession userJob,
		ai.education education,
		ai.email email,
		ai.deposit_bank bankName,
		ai.deposit_account bankCardNum
		from
		account_info ai
		WHERE ai.user_id = #{user_id}
	</select>
    <select id="getOpenDate" resultType="java.lang.String">
        SELECT
        ca.open_date open_date
        FROM
       customer_account ca
        WHERE ca.user_id= #{user_id}
    </select>
    
    <insert id="insertEmployee" 
    	useGeneratedKeys="true" keyProperty="account_info_id">
    	insert into employee
    	(employee_account, 
    	employee_password,
    	Employee_type,
    	employee_name)
    	values
    	(
    		#{employee_account},
    		#{employee_password},
    		#{employee_type},
    		#{employee_name}
    	)
    </insert>
    
    <insert id="insertAuditor">
    	insert into auditor_manager
    	(security_id,auditor_id)
    	values(
    	 #{security_id},
    	 #{auditor_id}
    	)
    </insert>
    

</mapper>