<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.practice.open_account.dao.ReviewResultDao">
    <select id="getReviewMsg"  resultType="java.lang.String">
        SELECT
            r.review_result message
        FROM
           review r
        WHERE r.user_id = #{user_id}
        limit 1
    </select>
    <insert id="addReviewResult">
    insert into  review(auditor_id,user_id,review_result)
    values (#{auditor_id},#{user_id},#{result})
    </insert>
<select id="getReviewed" resultType="java.util.HashMap">
	select distinct u.user_id
        from
		review r,user u
		WHERE r.user_id=u.user_id
		AND r.auditor_id = #{auditor_id}
		AND (u.status=7
		OR u.status=6)
		AND  r.update_time
		BETWEEN #{start}  AND #{end}
</select>
    <select id="getReviewSuccess" resultType="java.util.HashMap">
select distinct u.user_id
        from
		review r,user u
		WHERE r.auditor_id = #{auditor_id}
		AND u.status=7
		AND r.user_id=u.user_id
		AND  r.update_time
		BETWEEN #{start}  AND #{end}
    </select>
    <select id="getReviewFail" resultType="java.util.HashMap">
select distinct u.user_id
        from
		review r,user u
		WHERE r.auditor_id = #{auditor_id}
		AND u.status=6
		AND r.user_id=u.user_id
		AND  r.update_time
		BETWEEN #{start}  AND #{end};
    </select>
	<select id="getReviewing" resultType="java.util.HashMap">
select distinct u.user_id
        from
		account_info ai,user u
		WHERE ai.user_id=u.user_id
		AND u.status=5
		AND ai.security_id=#{security_id}
    </select>
<select id="getReviewingTime" resultType="java.lang.String">
	select r.update_time
	from review r
	where r.user_id=#{user_id}
</select>

<select id="checkExitWaitForReviewByAuditor" resultType="java.lang.String">
    select distinct r.user_id user_id
        from
		review r,user u
		WHERE r.auditor_id = #{auditor_id}
		AND u.status=5
		AND u.user_id=r.user_id
		limit 1
</select>
<update id="setReviewResultByUseridAndReviewerId" >
	UPDATE review r
SET r.review_result = #{result}
WHERE
	r.user_id = #{user_id}
	AND r.auditor_id = #{auditor_id}
</update>

</mapper>