<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shixun.open_account.dao.UserDao">
    <insert id="addUser" >
        insert into user(phone,password,status) values(#{phone}, #{password}, 0)
    </insert>
    <select id="checkLogin" resultType="java.lang.Integer">
        SELECT
        count(*)
        FROM
       user u
        WHERE u.phone = #{phone}
        AND u.password=#{password}
    </select>
    <select id="getUser" resultType="com.alibaba.fastjson.JSONObject">
        SELECT
            u.user_id      user_id,
            u.phone phone,
            u.password password,
            u.status status
        FROM
            user u
        WHERE u.phone = #{phone}
          AND u.password = #{password}
    </select>
    <select id="checkPhone" resultType="java.lang.Integer">
        SELECT
        count(*)
        FROM
       user u
        WHERE u.phone = #{phone}
    </select>
    <select id="getEmployee" resultType="com.alibaba.fastjson.JSONObject">
        SELECT
            e.employee_id      employee_id,
            e.employee_account  employee_account,
            e.employee_password employee_password,
            e.Employee_type      Employee_type,
            e.employee_name      employee_name
        FROM
            employee e
        WHERE e.employee_account = #{employee_account}
          AND e.employee_password = #{employee_password}
          AND e.Employee_type = #{employee_type}
    </select>
    <!--update id="updateDemo" >
        UPDATE demo d
        <set>
            d.name = #{name},
            d.age = #{age},
            d.id = #{id}
        </set>
        WHERE  d.id=#{id};
    </update-->
</mapper>